.App {
  text-align: center;
  background-image: url("http://giphygifs.s3.amazonaws.com/media/A06UFEx8jxEwU/giphy.gif");
  height: 70rem
}

p, h1, h3 {
  color: whitesmoke;
  background-color: black
}
